

/* CSS para a imagem de fundo da primeira parte da HOME */
main .firstStage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/bgSecond.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    width: 100%;
    padding-bottom: 10px;
    position: relative;   
}

main .featureText {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    padding: 10px;
    position: absolute;
    margin: 30vh 0 0 6vh;
}




/*About Us*/

/*Imagem de fundo*/
main .secondStage{
    background-color: #dbdbdb;
    height: auto;
    padding-bottom: 8vh; 
}

main .firstBoxFormat {
    font-family: 'Josefin Sans', sans-serif;
}





/*Recipe Boxes*/

/*Imagem de fundo*/
main .thirdStage{
    background-color: #abb8b9;
    height: auto;
    padding-bottom: 8vh;
}

main .secondBoxFormat {
    font-family: 'Josefin Sans', sans-serif;
}

.box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* Posição, margin, e tamanho de cada card */
.card {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(90, 84, 84, 0.1);
    overflow: hidden;
}

/* Img preencher todo o card */
.box .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* Cor e posição de todo o texo do card */
.box .card .content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px;
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.box .card:hover .content {
    opacity: 1;
}

/* Texto titulo do card ao passar o mouse por cima */
.card h3 {
    font-size: 20px;
    margin-top: 0;
    color: #213032;
}

/* Texto descrição do card */
.box .card p {
    font-size: 14px;
    margin-bottom: 8px;
}

/* Estilo para o botão do card */
.box .card button {
    position: relative;
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 4px;
    font-weight: bold;
    transform: .4s;
    padding: 8px 6px;
}

.box .card button:hover {
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}



/*Categories*/

/*Imagem de fundo*/
main .fourthStage{
    background-color: #7b9ca1;
    height: auto;
    padding-bottom: 8vh;
}

main .thirdBoxFormat {
    font-family: 'Josefin Sans', sans-serif;
}

/* Posição, margin, e tamanho de cada card */
.ca-card {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 5px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Cor e posição de todo o texo do card */
.box .ca-card .content {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 4px;
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.box .ca-card:hover .content {
    opacity: 1;
}

/* Texto titulo do card ao passar o mouse por cima */
.ca-card h3 {
    font-size: 20px;
    margin-top: 0;
    color: #213032;
}

/* Texto descrição do card */
.box .ca-card p {
    font-size: 14px;
    margin-bottom: 8px;
}

/* Estilo para o botão do card */
.box .ca-card button {
    position: relative;
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 4px;
    font-weight: bold;
    transform: .4s;
    padding: 8px 6px;
    margin-bottom: 6px;
}

.box .ca-card button:hover {
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}

/* Img preencher todo o card */
.box .ca-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




