header{
    margin-bottom: 4rem;
}

footer{
  margin-top: 4rem;
}

/* Controlar tamanho da caixa com tdo */
.form-signup {
    max-width: 1200px;
    padding: 1rem;
    font-family: 'Josefin Sans', sans-serif;
}
